
.main__categories {
    margin-left: 80px;
    /*margin-top: 590px;*/
    position: absolute;
    min-width: 273px;
    background-color: #d6d6d6;
    z-index: 6;
    flex: 1 1 auto;
    line-height: 30px;
    font-size: 15px;
}
@media (max-width: 1879px) {
    .main__categories {
        margin-left: 30px;
    }
}
@media (max-width: 1804px) {
    .main__categories {
        margin-left: 0px;
    }
}
.categories__body {
    margin: 20px 71px 20px 30px;
}
.categories__text {
    text-align: center;
    display: flex;
    padding-bottom: 5px;
    padding-left: 25px;
}
.categories__icon {
}
.categories__paragraf {
    color: #777777;
}
.categories__paragraf:hover {
    color: #000000;
}
.categories__tirle {
    font-family: Poppins;
    font-style: normal;
    color: #555;
    font-size: 20px;
    padding-bottom: 15px;
}
.catalog__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFF;
    margin-top: 20px;
}
@media (max-width: 1699px) {
    .catalog__container {
        max-width: 862px;
    }
    .catalog__block {
        margin: 0px;
    }
}
.catalog__block {
    margin: 20px 10px;
    max-width: 260px;
    border: 1px solid #e9e9e9;
}
@media (max-width: 1699px) {
    .catalog__block {
        margin: 10px 5px;
    }
}
.catalog__body {
    margin: 30px 20px;
}
.block__img {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}
.block__img img{
    height: 280px;
}
@media (max-width: 1699px) {
    .block__img img{
        display: flex;
        height: 200px;
        padding-left: 30px;
        /* flex: 1 1 auto; */
    }
}
.block__body {
    margin-top: 10px;
}
.body__title {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.body__price {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.price__number {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: crimson;
}
.price__button {
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    background: #b2c8fa;
    width: 120px;
    height: 35px;
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    line-height: normal;
}
.price__button:hover {
    background-color: #6e9aff;
}
.photo{
    border:3px solid black
}
